<!DOCTYPE html>
<html lang="en">
    <head>
        <title>All Books</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <h2>All Books</h2>
        <a href="/products/form" class="btn btn-info">Insert new product</a>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <% for(var i=0; i < books.length; i++) { %>
                <tr>
                    <td><%= books[i].id %></td>
                    <td><a href="/products/detail?id=<%= books[i].id %>"><%= books[i].title %></a></td>
                    <td><%= books[i].description %></td>
                    <td><%= books[i].price  %></td>
                </tr>
                <% } %>
        </table>

    </body>
</html>